

.about {
    .aboutGroup {
        width: 60%;

        .line {
            width:90% ;
        }
        .ab {
            width: 75%;
            height: 50%;
            margin-top: -130px;
            margin-left: 3rem;
        }
        .reverse {
            margin-top: -130px;
            transform: rotate(180deg);
        }

    }
}


.text {
    width: 80%;
    font-family: 'Bodoni Moda', serif;
    text-align: justify;
    font-size: 20px;
    p {
        padding-top: 2em;
    }

    p::first-letter {
        color: #ca5116;
        font-size: 300%;
        font-family: 'Lucida Calligraphy';
    }
}
