.bigContainer {
    width: 80%;
    h2 {
        width: 50%;
        height: 200px;
        padding-top: 16px;
        font-family: retroking;
        color: #581c0c;
        font-size: 50px;
        text-align: center;
        margin: 1em;
    }
    .cadre {
        background: no-repeat center/50% url(../Img/farme.jpg);
        padding-top: 3rem;
    }
}