.formContact {
    background: no-repeat center/70% url("../Img/contact.png");
    height: 1000px;
    padding-left: 10em;

    .form {
        padding-top: 8em;

        input {
            border: none;
            color: #581c0c;
        }

        textarea {
            width: 400px;
            height: 200px;
            color: #581c0c;
        }

        .error {
            color: #D8000C;
            font-size: large;
            font-family: calibri;
        }

        .send {
            background-color: #f6caac;
            color: #581c0c;
            margin-top: 10px;
            margin-left: 40%;
        }
    }
}
