.bigContainer {
    width: 80%;
    h2 {  
        width: 50%;
        height: 300px;
        font-family: retroking ;
        color: #581c0c;
        font-size: 50px;
        text-align: center;
        background: no-repeat center/100% url(../Img/farme.jpg);
        padding-top: 2em;
        margin: 1em;
    }
    .farme {
  
    position: relative;
    
    }
}