.map {
    .img-map {
        width: 100%;
    }
    .map-reverse {
        transform: rotate(180deg);
        margin-top: -12em;
    }
    .btn_map {
    color: white;
}


.mapadmin{
    margin-left: 50%;
    img{
        max-width:600px ;
    }

}



#mymap {
    width: 60%;
    height: 400px;
    margin-top: -15em;
    margin-right: 2em;
}
}