@media screen and (max-width: 1250px) {

    .bigContainer {
        h2 {
            font-size: 40px;
            padding-top: 2rem;
        }

        .services {
            .feather imp { width: 90%;}
            .lcontainer .list .poster {
            width: 70%;
            margin-top: -25%;
            }
        }

        .formContact { background: no-repeat center/90% url("../Img/contactmedia.png");}

        .formC {margin-right: 30%;}
    }

}
@media screen and (max-width: 1016px){
    .bigContainer {
        width: 90%;
        h2{
            font-size: 30px;
        }

        .line {
            display: none;
        }
        .text {
        font-size: 18px;
        }
        .aboutGroup {
            width: 40%;
            .ab {
                margin-top: 3em;
            }
        }
        .formC {
            width: 50%;
            .textmedia {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 990px){
    .bigContainer {
        width: 100%;

        .aboutGroup { display: none;}
        .text {
            width: 100%;
            padding-top: 0;
        }

        .services .wcontainer .work { width: 80%;}

        .img-map {display: none}
        .formContact {
            background: no-repeat center/100% url("../Img/contactmedia.png");
        }
    }

   .map #mymap {
        margin-top: 0;
    }
    .footer p {
        padding: 0;
    }
}

@media screen and (max-width: 790px) {
    .bigContainer {
        width: 80%;

        h2 {
            font-size: 25px;
            width: 70%;
            height: 150px;
            padding-top: 1rem;
        }

        //---------------------
        .about {
            .aboutGroup {
                display: none;
            }
        }

        .text {
            font-size: 18px;
            margin-left: 3em;

            p {
                padding-top: 2em;
            }
        }

        //---------------------------

        .services {
            .feather img {
                display: none;
            }
        }

        //-------------------------

        .map img {
            display: none;
        }
        #mapid {
            margin-top: 0;
            width: 400px;
            height: 300px;
        }

        //-----------------------

        .formC { margin-left: 30%; }
        .formContact {

            height: 700px;
            padding-left: 0;

            .form {
                padding-top: 4rem;
                width: 300px;

                label {
                    width: 90px;
                    font-size: 10px;
                }
                input {
                    border: none;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                textarea {
                    width: 300px;
                    height: 100px;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                .send {
                    margin-left: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .navbar { display: none;}
    .bigContainer {
        width: 100%;
        .container, .container-sm {
            max-width: 540%;
        }
        .text {
                font-size: 12px;
                margin-left: 0;
            p { padding-top: 0;}
        }
    }
}

@media screen and (max-width: 507px){
    .bigContainer {
        .cadre {
            height: 150px;
            padding-top: 0;
        }
        h2 {
            font-size: 20px;
            padding-top: 2rem;
        }
        .formContact {
            background: none;
            height: 400px;
        }
    }
}

@media screen and (max-width: 420px) {

    .bigContainer{
        h2 {
            font-size: 16px;
            height: 100px;
            padding-top: 40px;
        }

        //---------about------
        .text {
            width: 100%;
            font-size: 10px;
            margin-left: 0;
        }

        //------------------

        .services {
            .wcontainer {
                margin-left: 2em;

                .work {
                    width: 300px;
                }
            }

            .lcontainer .list .poster {
                width: 90%;
                margin-left: 3em;
            }

            .feather img {
                display: none;
            }
        }

        #mapid {
            margin-top: 0;
            width: 200px;
            height: 300px;
        }

        .formContact {
            background: none;
            height: 300px;

            .form {
                width: 200px;
                .input-group-text{
                    width: 90px;
                    font-size: 10px;
                }
                input {
                    font-size: 12px;
                    width: 100px;
                }

                textarea {
                    width: 200px;
                    height: 80px;
                    font-size: 12px;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                .send {
                    margin-left: 50%;
                    font-size: 12px;
                }
            }

        }
    }
    .footer p { font-size: 12px;}
}
