@media screen and (max-width: 780px) {
    .bigContainer {
        width: 80%;

        h2 {
            font-size: 30px;
            width: 70%;
            padding-top: 4em;
        }

        //-----------------
        .about {
            .aboutGroup {
                display: none;
            }
        }

        .text {
            font-size: 18px;
            margin-left: 3em;

            p {
                padding-top: 2em;
            }
        }

        //---------------------------

        .services {
            .wcontainer {
                margin-left: 2em;

                .work {
                    width: 500px;
                }
            }

            .lcontainer.list.poster {
                width: 50%;
            }

            .feather img {
                display: none;
            }
        }

        //-------------------------

        .map img {
            display: none;
        }

        //-----------------------

        .formContact {
            background: no-repeat center/100% url("../Img/contactmedia.png");
            height: 700px;
            padding-left: 0;

            .form {
                padding-top: 4rem;

                input {
                    width: 300px;
                    border: none;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                textarea {
                    width: 300px;
                    height: 100px;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                .send {
                    margin-left: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {

    .navbar {
        display: none;
    }

    .bigContainer {
        width: 100%;

        h2 {
            font-size: 20px;
            padding-top: 25px;
            height: 100px;
            margin-top: 1em;
        }


        //---------about------
        .text {
            width: 100%;
            font-size: 10px;
            margin-left: 0;


        }

        //------------------

        .services {
            .wcontainer {
                margin-left: 2em;

                .work {
                    width: 300px;
                }
            }

            .lcontainer .list .poster {
                width: 90%;
                margin-left: 3em;
            }

            .feather img {
                display: none;
            }


        }

        .formContact {
            background: no-repeat center/120% url("../Img/contactmedia.png");
            height: 600px;

            .form {
                input {
                    font-size: 12px;
                    width: 200px;
                }

                textarea {
                    width: 200px;
                    height: 80px;
                    font-size: 12px;
                    background-color: rgba(255, 240, 211, 0.582);
                }

                .send {
                    margin-left: 50%;
                    font-size: 12px;
                }
            }

        }
    }
    .footer p { font-size: 12px;}
}
