.services {
    padding-top: 2em;

    .wcontainer {
        margin-left: 2em;

        .work {
            width: 600px;
        }
    }
    .lcontainer{
        .list{
            .poster {
                    width: 100%;
                    margin-top: -35%;
                    margin-left: 8em;
                }
            
            
        }   
    }
    .feather img{
        width: 100%;
        margin-top: -200%;
    }
    
           
}