* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "retroking";
  src: url("../Font/Retroking.ttf");
}
.Banner {
  min-width: 100%;
  height: 100%;
  background: no-repeat center/200% url("../Img/Banner.png");
  display: flex;
  justify-content: center;
}
.Banner .navbar {
  position: absolute;
  background-color: transparent;
}
.Banner .titre {
  width: 100%;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  justify-content: center;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-family: "Bodoni Moda", serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #f1e3cb;
}

.container-fluid img {
  width: 120px;
  margin-right: 1em;
}

.bigContainer {
  width: 80%;
}
.bigContainer h2 {
  width: 50%;
  height: 200px;
  padding-top: 16px;
  font-family: retroking;
  color: #581c0c;
  font-size: 50px;
  text-align: center;
  margin: 1em;
}
.bigContainer .cadre {
  background: no-repeat center/50% url(../Img/farme.jpg);
  padding-top: 3rem;
}

.about .aboutGroup {
  width: 60%;
}
.about .aboutGroup .line {
  width: 90%;
}
.about .aboutGroup .ab {
  width: 75%;
  height: 50%;
  margin-top: -130px;
  margin-left: 3rem;
}
.about .aboutGroup .reverse {
  margin-top: -130px;
  transform: rotate(180deg);
}

.text {
  width: 80%;
  font-family: "Bodoni Moda", serif;
  text-align: justify;
  font-size: 20px;
}
.text p {
  padding-top: 2em;
}
.text p::first-letter {
  color: #ca5116;
  font-size: 300%;
  font-family: "Lucida Calligraphy";
}

.services {
  padding-top: 2em;
}
.services .wcontainer {
  margin-left: 2em;
}
.services .wcontainer .work {
  width: 600px;
}
.services .lcontainer .list .poster {
  width: 100%;
  margin-top: -35%;
  margin-left: 8em;
}
.services .feather img {
  width: 100%;
  margin-top: -200%;
}

.map .img-map {
  width: 100%;
}
.map .map-reverse {
  transform: rotate(180deg);
  margin-top: -12em;
}
.map .btn_map {
  color: white;
}
.map .mapadmin {
  margin-left: 50%;
}
.map .mapadmin img {
  max-width: 600px;
}
.map #mymap {
  width: 60%;
  height: 400px;
  margin-top: -15em;
  margin-right: 2em;
}

.alert {
  text-align: center;
}

.formContact {
  background: no-repeat center/80% url("../Img/contact.png");
  height: 1000px;
  padding-left: 10em;
}
.formContact .formC {
  margin-left: 2em;
}
.formContact .form {
  padding-top: 8em;
}
.formContact .form label {
  color: #581c0c;
  background-color: #f6caac;
  border: none;
}
.formContact .form .input-group {
  margin-bottom: 1em;
}
.formContact .form .input-group input {
  color: #581c0c;
}
.formContact .form textarea {
  width: 400px;
  height: 200px;
  color: #581c0c;
}
.formContact .form .error {
  color: #D8000C;
  font-size: large;
  font-family: calibri;
}
.formContact .form .send {
  background-color: #f6caac;
  color: #581c0c;
  margin-top: 10px;
  margin-left: 40%;
}

.footer {
  text-align: center;
  font-family: calibris;
  background-color: #581c0c;
}
.footer p {
  padding: 2em;
  color: #f9b384;
  margin: 0;
}

@media screen and (max-width: 1250px) {
  .bigContainer h2 {
    font-size: 40px;
    padding-top: 2rem;
  }
  .bigContainer .services .feather imp {
    width: 90%;
  }
  .bigContainer .services .lcontainer .list .poster {
    width: 70%;
    margin-top: -25%;
  }
  .bigContainer .formContact {
    background: no-repeat center/90% url("../Img/contactmedia.png");
  }
  .bigContainer .formC {
    margin-right: 30%;
  }
}
@media screen and (max-width: 1016px) {
  .bigContainer {
    width: 90%;
  }
  .bigContainer h2 {
    font-size: 30px;
  }
  .bigContainer .line {
    display: none;
  }
  .bigContainer .text {
    font-size: 18px;
  }
  .bigContainer .aboutGroup {
    width: 40%;
  }
  .bigContainer .aboutGroup .ab {
    margin-top: 3em;
  }
  .bigContainer .formC {
    width: 50%;
  }
  .bigContainer .formC .textmedia {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .bigContainer {
    width: 100%;
  }
  .bigContainer .aboutGroup {
    display: none;
  }
  .bigContainer .text {
    width: 100%;
    padding-top: 0;
  }
  .bigContainer .services .wcontainer .work {
    width: 80%;
  }
  .bigContainer .img-map {
    display: none;
  }
  .bigContainer .formContact {
    background: no-repeat center/100% url("../Img/contactmedia.png");
  }

  .map #mymap {
    margin-top: 0;
  }

  .footer p {
    padding: 0;
  }
}
@media screen and (max-width: 790px) {
  .bigContainer {
    width: 80%;
  }
  .bigContainer h2 {
    font-size: 25px;
    width: 70%;
    height: 150px;
    padding-top: 1rem;
  }
  .bigContainer .about .aboutGroup {
    display: none;
  }
  .bigContainer .text {
    font-size: 18px;
    margin-left: 3em;
  }
  .bigContainer .text p {
    padding-top: 2em;
  }
  .bigContainer .services .feather img {
    display: none;
  }
  .bigContainer .map img {
    display: none;
  }
  .bigContainer #mapid {
    margin-top: 0;
    width: 400px;
    height: 300px;
  }
  .bigContainer .formC {
    margin-left: 30%;
  }
  .bigContainer .formContact {
    height: 700px;
    padding-left: 0;
  }
  .bigContainer .formContact .form {
    padding-top: 4rem;
    width: 300px;
  }
  .bigContainer .formContact .form label {
    width: 90px;
    font-size: 10px;
  }
  .bigContainer .formContact .form input {
    border: none;
    background-color: rgba(255, 240, 211, 0.582);
  }
  .bigContainer .formContact .form textarea {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 240, 211, 0.582);
  }
  .bigContainer .formContact .form .send {
    margin-left: 35%;
  }
}
@media screen and (max-width: 655px) {
  .navbar {
    display: none;
  }

  .bigContainer {
    width: 100%;
  }
  .bigContainer .container, .bigContainer .container-sm {
    max-width: 540%;
  }
  .bigContainer .text {
    font-size: 12px;
    margin-left: 0;
  }
  .bigContainer .text p {
    padding-top: 0;
  }
}
@media screen and (max-width: 507px) {
  .bigContainer .cadre {
    height: 150px;
    padding-top: 0;
  }
  .bigContainer h2 {
    font-size: 20px;
    padding-top: 2rem;
  }
  .bigContainer .formContact {
    background: none;
    height: 400px;
  }
}
@media screen and (max-width: 420px) {
  .bigContainer h2 {
    font-size: 16px;
    height: 100px;
    padding-top: 40px;
  }
  .bigContainer .text {
    width: 100%;
    font-size: 10px;
    margin-left: 0;
  }
  .bigContainer .services .wcontainer {
    margin-left: 2em;
  }
  .bigContainer .services .wcontainer .work {
    width: 300px;
  }
  .bigContainer .services .lcontainer .list .poster {
    width: 90%;
    margin-left: 3em;
  }
  .bigContainer .services .feather img {
    display: none;
  }
  .bigContainer #mapid {
    margin-top: 0;
    width: 200px;
    height: 300px;
  }
  .bigContainer .formContact {
    background: none;
    height: 300px;
  }
  .bigContainer .formContact .form {
    width: 200px;
  }
  .bigContainer .formContact .form .input-group-text {
    width: 90px;
    font-size: 10px;
  }
  .bigContainer .formContact .form input {
    font-size: 12px;
    width: 100px;
  }
  .bigContainer .formContact .form textarea {
    width: 200px;
    height: 80px;
    font-size: 12px;
    background-color: rgba(255, 240, 211, 0.582);
  }
  .bigContainer .formContact .form .send {
    margin-left: 50%;
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
  }
}
body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
